@font-face {
    src: url('fonts/pokemon-emerald.otf');
}
#salir_items {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 2px 1px 1px #000000;
    -fx-font-family: "Pokemon Emerald";
    color: #ffffff;
    font-size: 38px;
    background: #8f51e0;
    padding: 10px 25px 10px 25px;
    border: solid #6e6e6e 4px;
    text-decoration: none;
}

.btnSalir.button{
    -fx-font-family: "Pokemon Emerald";
    -fx-background-color: #8f51e0;
    -fx-font-size: 22px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.btnSalir.button:hover{
    -fx-background-color: #512a7c,#8f51e0;
    -fx-background-insets: 4,5;
    -fx-border-width: 5;
}
.btnSalir.button:pressed{
    -fx-border-width: 5;
    -fx-font-size: 18px;

}

#salir_items:hover {
    background: #a77be0;
    text-decoration: none;
}