.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {  //not .scrollpane but .scroll-pane
-fx-background-color: transparent;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}



.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #F0F387;
    -fx-background-radius: 5em;
}




.button{
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}

.button:hover{
}

.button:pressed{

}

.hileraItem {
    -fx-alignment: TOP_RIGHT;
}

.hileraItem .label {
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
}

.hileraItem:hover {
    -fx-background-color: #d0b050;
}
.hileraItem:hover .label {
    /*-fx-background-color: #d0b050;*/
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
}
.hileraItem:hover .button {
    /*-fx-background-color: #d0b050;*/
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-font-size: 14px;
}
