.button{
    /*-fx-background-color: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);*/
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
}

.button:hover{
    /*-fx-background-color: linear-gradient(to bottom, rgba(73,155,234,0.7) 0%, rgba(32,124,229,0.8) 100%);*/
    -fx-font-weight: bold;
    -fx-font-family: "Verdana";
    -fx-font-size: 15px;
}
.button:pressed {
    /*-fx-background-color: linear-gradient(to bottom, rgba(200,155,234,1) 0%, rgba(32,124,229,1) 100%);*/
}
#descripcionHabilidadesContainer .label {
    -fx-font-family: "Verdana";
    -fx-font-size: 17px;
}
#habilidadesContainer .label {
    -fx-font-family: "Verdana";
    -fx-font-size: 17px;
}
#habilidadesContainer .label:hover {
    -fx-font-weight: bold;
    -fx-background-color: #f0c870;
    -fx-background-radius: 5;
    -fx-padding: 5, 10, 10, 5;
}
